html {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    padding: 20px;
}
h1 {
    text-align: center;
    margin-top: 150px;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}


button {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white !important;
    margin: 5px;
    font-size: 1.8rem;
    background-color: rgb(166, 225, 225);
}

button:hover {
    cursor: pointer;
    background-color: rgb(146, 146, 173);
    color: white;
    border-style: none;
}

p {
    text-align: center;
    font-size: 2rem;
}
