html {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
}
h1 {
    text-align: center;
    margin-top: 150px;
    font-size: 3rem;
    font-weight: bold;
}

.counter {
    border: 2px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    margin: 5px;
    font-size: 1.8rem;
    background-color: rgb(166, 225, 225);
}

button:hover {
    cursor: pointer;
    background-color: rgb(146, 146, 173);
    color: white;
}

p {
    text-align: center;
    font-size: 2rem;
}
