@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Crimson+Text:ital,wght@0,600;1,600&family=Libre+Baskerville:wght@700&family=Pacifico&family=Roboto:wght@400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #df8484;
  font-family: "Crimson Text", serif;
}
.container {
  justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  margin-top: 1.8rem;
  margin-bottom: 1rem;
}
form {
  background-color: #f6f2f2;
  height: 100%;
  padding: 1.5rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.row {
  width: 60%;
}
.col-md-8 {
  height: 487px !important;
}
.col-md-4 {
  height: 487px !important;
}
h1 {
  font-family: "Crimson Text", serif;
  font-weight: bolder;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: left;
}

.formImg {
  background-image: url("./photos/vegetable.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.textField {
  border: 2px solid black;
  border-radius: 0;
  margin-top: 6px;
}

.genderLabel {
  padding-left: 0;
}

.buttonLabel {
  margin-top: 25px;
}

.btn {
  font-family: "Crimson Text", serif;
  font-weight: 600;
}
span {
  display: block;
  font-size: 0.7rem;
  color: #da1e2e;
}

@media screen and (min-width: 1200px) {
  .row-repo {
    width: 100% !important;
  }
  form {
    border-radius: 0 10px 10px 0 !important;
    padding: 2rem;
  }
  .formImg {
    border-radius: 10px 0 0 10px !important;
  }
  h1 {
    font-size: 2rem;
  }
  .col-md-8 {
    height: 650px !important;
  }
  .col-md-4 {
    height: 650px !important;
  }
  .textField {
    margin-top: 30px;
    padding: 12px;
  }
  .radio-div {
    margin-top: 20px;
  }
  .buttonLabel {
    margin-top: 45px;
  }
  span {
    font-size: .8rem;
  }
  .buttonLabel>button {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .row-repo {
    width: 100% !important;
  }
  form {
    border-radius: 0 10px 10px 0 !important;
    padding: 1.8rem;
  }
  .formImg {
    border-radius: 10px 0 0 10px !important;
  }
  h1 {
    font-size: 2rem;
  }
  .col-md-8 {
    height: 522px !important;
  }
  .col-md-4 {
    height: 522px !important;
  }
  .textField {
    margin-top: 20px;
  }
  .radio-div {
    margin-top: 20px;
  }
  .buttonLabel {
    margin-top: 25px;
  }
  span {
    font-size: .8rem;
  }
}

@media only screen and (min-width: 766px) and (max-width: 993px) {
  .row-repo {
    width: 100% !important;
  }
  form {
    border-radius: 0 10px 10px 0 !important;
    padding: 2rem;
  }
  .formImg {
    border-radius: 10px 0 0 10px !important;
  }
  h1 {
    font-size: 2.5rem;
  }
  .col-md-8 {
    height: 722px !important;
  }
  .col-md-4 {
    height: 722px !important;
  }
  .textField {
    margin-top: 30px;
    padding: 12px
  }
  .radio-div {
    margin-top: 20px;
    font-size: 1.3rem;
  }
  .agree-div {
    font-size: 1.3rem;
  }
  .buttonLabel {
    margin-top: 40px;
  }
  .buttonLabel>button {
    font-size: 1.5rem;
  }
  
  span {
    font-size: 1.15rem;
  }
}

@media only screen and  (min-width: 600px) and (max-width: 767px) {
  .row-repo {
    width: 100% !important;
  }
  form {
    border-radius: 0 0 10px 10px !important;
  }
  .formImg {
    border-radius: 10px 10px 0 0 !important;
  }
  h1 {
    font-size: 1.5rem;
  }
  .col-md-8 {
    height: 520px !important;
  }
  .col-md-4 {
    height: 520px !important;
  }
}



@media only screen and (max-width: 600px){
  .row-repo {
    width: 100% !important;
  }
  h1 {
    font-size: 1.3rem;
  }
  span {
    font-size: 0.65rem;
  }
  .col-md-8 {
    height: 520px !important;
  }
  .col-md-4 {
    height: 300px !important;
  }
  .formImg {
    border-radius: 10px 10px 0 0 !important;
  }
  form {
    border-radius: 0 0 10px 10px !important;
  }
  
  .radio-div {
    font-size: small;
  }
  .agree-div {
    font-size: small;
  }
}